<head>
<title>Secured Paste Bin</title>
<meta name="robots" content="noindex"/>
<style>
    .dos {
        font-family: fixedsys, LucidaTerminal, 'Ubuntu Mono', monospace;
    }
    .dos, textarea, input, button {
        background: #1c1c1c;
    }
    .dos {
        color: #2f9912;
    }

    a {
        color: yellow;
        text-decoration: none;
    }
    .content-box {
        padding: 1em;
    }
    textarea, input, button, .content-box {
        background-color: #292929;
        border: none;
    }
    textarea, input, button {
        color: #2f9912;
        outline: none;
        font-size: inherit;
        font-family: inherit;
        padding: 0.2em 0.5em;
    }
    textarea {
        padding: 0.5em;
    }
    button {
        background: none;
        color: yellow;
        cursor: pointer;
    }
    button:disabled {
        color: grey;
        border-color: grey;
        cursor: default;
    }
    .message-box {
        margin-top: 1em;
    }
    .dump-password-form {
        margin-top: 1em;
    }
    pre {
        font-size: 1.2em;
    }
</style>
</head>
<body class="dos" style="margin: 1em">
<a href="#">bin.so</a>
&nbsp;
<a href="#help/faq">faq</a>
<home></home>
<dump></dump>
<faq></faq>
<page404></page>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.6/sjcl.min.js" integrity="sha256-7VEzvbWjCTLLvO8urPO0gk1zqPsLAZVIADdKrwtBbWY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.2/riot.js" integrity="sha256-T7LwPaiksb1Z5pj4mToQi5ajPL1k0eWnmsGBhTsrZv0=" crossorigin="anonymous"></script>

<script type="text/template" id="tag_home_tpl">
<p><span style="font-weight: bold; color: red" if={data_error}>{ data_error }</span></p>
<form method="post" action="javascript:" id="dump-form">
    <p><textarea style="width: 100%; height: 50%" name="data" onkeyup="{ onFormChange }" onchange="{ onFormChange }"></textarea></p>
    <input style="display: none" type="text" name="iambot" value="" />
    <p>
        <label>Password:</label>
        &nbsp;
        <input type="text" name="password" onkeyup="{ onFormChange }" onchange="{ onFormChange }"></input>
        &nbsp;
        <button id="submit" type="button" disabled onclick="{ submitForm }">Encrypt &amp; Submit</button>
    </p>
</form>
</script>

<script type="text/template" id="tag_dump_tpl">
<div if="{ error }">
    <div style="color: red">{ error }</div>
</div>
<div if="{ dump }">
    <div class="message-box">
        <div if="{ encrypted }" style="color: red">content encrypted</div>
        <div if="{ none }" style="color: green">content unencypted</div>
        <div if="{ runtimeError }" style="color: red">{ runtimeError }</div>
    </div>
    <pre id="dump-encrypted" style="display: none;">{ dump.data }</pre>
    <pre if="{ !encrypted }" class="content-box" id="dump-content">{ content }</pre>
    <div class="dump-password-form" id="password-form" if="{ encrypted }">
        <form action="javascript:">
            password:
            <input type="text" name="password">
            <button type="button" onclick="{ decrypt }">decrypt</button>
        </form>
    </div>
</div>
</script>

<script type="text/template" id="tag_faq_tpl">
<pre>
--- [What is bin.so?]

bin.so is minimalistic paste bin service focused on security:

* Search engines are not allowed to crawl and index content of bin.so</li>

* Uploaded content is assigned with uniq random URL</li>

* Uploaded content is protected by password. Data is encrypted in the browser,
  then *already encrypted* data sends to the server.

* You can't read data even if you hack the server and read database directly

--- [Open source?]

Yep, <a href="http://github.com/lorien/sbin">github.com/lorien/sbin</a>

--- [Suggestions, bugreport, etc]

Send me email to <a href="mailto:lorien@lorien.name">lorien@lorien.name</a> or create <a href="http://github.com/lorien/sbin/issues">github issue</a>
</div>
</script>

<script type="text/template" id="tag_page404_tpl">
<h1>Requested URL is not found</h1>
</script>

<script>
function tag_home(opts) {
    this.submitForm = function() {
        var pwd = $('input[name="password"]').val();
        if (!pwd) {
            alert('Password is empty');
        } else {
            var data = $('textarea[name="data"]').val(); 
            if (!data) {
                alert('Data is empty');
            } else {
                var res = sjcl.encrypt(pwd, data, {mode: 'gcm', ts: 128});

                var encData = res;

                var args = {
                    data: encData,
                    iambot: $('input[name="iambot"]').val()
                }
                $.post('/api/dump', args, function(data) {
                    riot.route(data.dump_id);
                }, 'json');
            }
        }
    }

    this.onFormChange = function() {
        var data = $('textarea[name="data"]').val();
        var pwd = $('input[name="password"]').val();
        if (data && pwd) {
            $('button#submit').attr('disabled', false);
        } else {
            $('button#submit').attr('disabled', true);
        }
    }
};

function tag_dump(opts) {
    var self = this;
    $.get('/api/dump', {dump_id: opts.dump_id}, (data) => {
        console.log(data);
        if (data.error) {
            this.error = data.error;
        } else {
            this.dump = data.dump;
            this.encrypted = true;
        }
        this.update();
    }, 'json');

    this.decrypt = function() {
        var pwd = $('input[name="password"]').val();
        if (pwd) {
            var data = $('#dump-encrypted').text();
            if (data[0] != '{') {
                // Backward-compatiliby with b64-encoded data
                var data = sjcl.codec.utf8String.fromBits(
                    sjcl.codec.base64.toBits(data));
            }
            self.runtimeError = false;
            try {
                this.content = sjcl.decrypt(pwd, data);
                self.encrypted = false;
            } catch(exc) {
                console.log(exc);
                self.runtimeError = 'Could not decrypt because ' + exc.message
                                    + ' Possibly you password is incorrect';
            }
        }
    }
}

riot.tag('home', tag_home_tpl.innerHTML, tag_home);
riot.tag('dump', tag_dump_tpl.innerHTML, tag_dump);
riot.tag('faq', tag_faq_tpl.innerHTML, function(){});
riot.tag('page404', tag_page404_tpl.innerHTML, function(){});

mountedContentTag = null;

riot.route(function(part1, part2) {
    console.log('[route]: part1=' + part1 + ', part2=' + part2);
    if (mountedContentTag) {
        mountedContentTag.unmount(true);
    }
    if (!part1) {
        console.log('[route]: home');
        mountedContentTag = riot.mount('home')[0];
    } else if (part1 && !part2) {
        console.log('[route]: dump');
        mountedContentTag = riot.mount('dump', {dump_id: part1})[0];
    } else if (part1 == 'help' && part2 == 'faq') {
        console.log('[route]: faq');
        mountedContentTag = riot.mount('faq')[0];
    } else {
        console.log('[route]: page404');
        mountedContentTag = riot.mount('page404')[0];
    }
});

riot.route.start(true);
</script>
<script>
</script>
</body>
