{% extends 'base.html' %}

{% block content %}
<h1>FAQ</h1>
<h3>What is bin.so?</h3>
<p>BIN.SO is minimalistic paste bin service focused on security:</p>
<ul>
    <li>Search engines are not allowed to crawl and index content of bin.so</li>
    <li>Each uploaded content is assigned with uniq random ID</li>
    <li>Uploaded content could be protected by password. Data is encrypted in the browser, then
        <b>encrypted</b> data sends to the server.</li>
</ul>
<h3>What happens if I protect content with password?</h3>
<p>First, data is encrypted on client-side, just inside browser. Then data is submitted to the
server. Server receives and stores only encrypted data so it is not possible to obtain plaintext data even if you have a direct access to the database.</p>
<p>Password-protected data is to be delivered in encrypted form to your web browser. Provide a password to decrypt data and display it as plain text.</p>
<h3>Open source?</h3>
<p>Yep, <a href="http://github.com/lorien/sbin">github.com/lorien/sbin</a>
<h3>Suggestion, bugreport, etc</h3>
<p>Send me email to <a href="mailto:lorien@lorien.name">lorien@lorien.name</a> or create <a href="http://github.com/lorien/sbin/issues">github issue</a>
{% endblock %}
