{% extends 'base.html' %}

{% block content %}
{% if data_error %}
<p><span style="font-weight: bold; color: red">{{ data_error }}</span></p>
{% endif %}

<form method="post" action="/dump/add" id="dump-form">
    <p><textarea style="width: 100%; height: 50%" name="data"></textarea></p>
    <p>
        <button id="submit-public" style="font-size: 2em" type="submit">Submit</button>
        &nbsp; &nbsp; <b>OR</b> &nbsp; &nbsp;
        <button id="submit-protected" type="button" disabled style="font-size: 2em" onclick="encryptAndSubmit();">Encrypt &amp; Submit</button>
        with password
        <input type="text" name="password" onkeyup="onPassword()" onchange="onPassword()"></input>
        <!--<button href="javascript:" style="font-size: 2em" onclick="decrypt();">Decrypt</a>-->
    </p>
    <input type="hidden" name="has_password" value="0" />
</form>
<script>
/* Disable form submit by pressing ENTER key */
$('#dump-form').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});

function encryptAndSubmit() {
    var pwd = $('input[name="password"]').val();
    if (!pwd) {
        alert('Empty password');
    } else {
        data = $('textarea[name="data"]').val(); 
        res = sjcl.encrypt(pwd, data);
        $('textarea[name="data"]').val(b64encode(res));
        $('form#dump-form').submit();
    }
}

function onPassword() {
    var pwd = $('input[name="password"]').val();
    if (pwd) {
        $('button#submit-public').attr('disabled', true);
        $('button#submit-protected').attr('disabled', false);
        $('input[name="has_password"]').val('yes');
    } else {
        $('button#submit-public').attr('disabled', false);
        $('button#submit-protected').attr('disabled', true);
        $('input[name="has_password"]').val('no');
    }
}
</script>
{% endblock %}
